@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #764ABC */
/* #1C1E21 */
/* #6C6D6F */

.theme-box{
  width: 100%;
  height: 200px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#root{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
  height: 100vh;
  margin:  0 auto;
}

.modern-app h1,
.legendary-app h1{
  color: #764ABC;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: 'Protest Strike', sans-serif;
}

.legendary-app,
.modern-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #764ABC;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #564B68;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
  background: rgb(253, 254, 255);
}

.counter-box button{
  margin-right: 5px;
  font-size: .9rem;
  /* text-transform: uppercase; */
  font-family: inherit;
  padding: .5rem .8rem;
  border-radius: 5px;
  border: none;
  color: #764abdcc;
  background: whitesmoke;
  font-weight: 500;
  box-shadow: 1px 2px 5px #4ABD62;
  cursor: pointer;
}

.theme-box button{ 
  background: white;
  padding: .7rem 1.1rem;
  border-radius: 8px;
  border: none;
  background: #4ABD62;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;

  cursor: pointer;
}

.theme-box button:hover{
  opacity: .9;
}

p{
  font-size: 1.2rem;
  font-weight: 500;
  color: #764ABC;
}

span{
  color: #4a3074;
}

